<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper

PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"

"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="MsgrMapper">
	<resultMap type="map" id="result" />

<!--
	Mybatis에서 insert, update, delete의 return은 int이다.`
	쿼리에서 resultType에 int를 선언하는 것이 아니라 자바 코드에서 리턴 타입을 int로 선언하는 것. 
	Mybatis에서는 기본적으로 쿼리가 돌고 나면 업데이트 한 행의 개수를 리턴한다.
	insert: 1(여러갱의 경우도 1)
	update: 수정에 성공한 행의 개수 반환, 실패시 0 반환
	delete: 삭제한 행의 개수를 반환.
	
	***resultType은 select 구문에만 존재 ***
 -->
	<!-- 로그인 쿼리문 --><!-- 확인 -->
	<select id="signIn" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT mem_id_vc, mem_nick_vc
		FROM msgr_member
		WHERE mem_id_vc =
		#{mem_id_vc} AND mem_pw_vc = #{mem_pw_vc}
	</select>

	<!-- 아이디 중복확인 쿼리문 --><!-- 확인 -->
	<select id="idCheck" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT mem_id_vc FROM msgr_member WHERE mem_id_vc = #{mem_id_vc}
	</select>

	<!-- 회원가입 쿼리문 --><!-- 확인 -->
	<insert id="signUp" parameterType="java.util.Map">
		INSERT INTO msgr_member(mem_id_vc, mem_pw_vc, mem_nick_vc) 
		VALUES (#{mem_id_vc}, #{mem_pw_vc}, #{mem_nick_vc})
	</insert>

	<!-- 톡방리스트 불러오기 쿼리문 --><!-- 확인 -->
	<select id="getTalkRoomList" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT room.room_name_vc, room.room_no_nu, room.is_private_yn
		FROM msgr_room room, msgr_room_in_list rlist
		WHERE room.room_no_nu = rlist.room_no_nu
		AND rlist.mem_id_vc = #{mem_id_vc}
		ORDER BY room.room_no_nu
	</select>

	<!-- 친구목록 불러오기 쿼리문 --> <!-- 확인 -->
	<select id="getBuddyList" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT M_BUDDY.buddy_id_vc, M_MEMBER.MEM_NICK_VC
		FROM msgr_member m_member, msgr_buddy m_buddy
		WHERE M_MEMBER.MEM_ID_VC = M_BUDDY.buddy_id_vc
		AND M_BUDDY.MEM_ID_VC = #{mem_id_vc}
	</select>
	
	<!-- 마지막 톡방 번호 가져오기 쿼리문 -->
	<select id="getLastRoomNum" parameterType="java.util.Map" resultType="int">
		SELECT room_no_nu FROM MSGR_ROOM WHERE ROWNUM = 1 ORDER BY room_no_nu DESC
	</select>

	<!-- 오픈톡방 추가하기 쿼리문 --><!-- 확인 -->
	<insert id="createOpenTalkRoom" parameterType="java.util.Map" >
		INSERT INTO MSGR_ROOM(room_no_nu, room_name_vc, is_private_yn) 
		VALUES (#{room_no_nu}, #{room_name_vc}, 0)
	</insert>

	<!-- 친구톡방 추가하기 쿼리문 --><!-- 확인 -->
	<insert id="createBuddyTalkRoom" parameterType="java.util.Map">
		INSERT INTO MSGR_ROOM(room_no_nu, room_name_vc, is_private_yn) 
		VALUES (#{room_no_nu}, #{room_name_vc}, 1)
	</insert>

	<!-- 톡방 삭제 쿼리문 --><!-- 확인 -->
	<delete id="deleteTalkRoom" parameterType="java.util.Map">
		{CALL
			DECLARE
			BEGIN
				UPDATE MSGR_CHAT SET mem_id_vc = null WHERE mem_id_vc = #{mem_id_vc};
				DELETE FROM MSGR_ROOM_IN_LIST WHERE room_no_nu = #{room_no_nu} and mem_id_vc = #{mem_id_vc};
			END
		}
	</delete>
	
	<!-- 톡방 참여 쿼리문 --><!-- 확인 -->
	<insert id ="joinChatMember" parameterType="java.util.Map">
		INSERT INTO MSGR_ROOM_IN_LIST(room_no_nu, mem_id_vc, join_chat_no_nu)
		VALUES(#{room_no_nu}, #{mem_id_vc}, #{join_chat_no_nu})
	</insert>

	<!-- 대화내용 삽입 쿼리문 --><!-- 확인 -->
	<insert id="insertChat" parameterType="java.util.Map">
		INSERT INTO MSGR_CHAT(room_no_nu, chat_no_nu, mem_id_vc, chat_vc)
		VALUES(#{room_no_nu}, #{chat_no_nu}, #{mem_id_vc}, #{chat_vc})
	</insert>
	
	<!-- 마지막 대화번호 가져오기 쿼리문 --><!-- 확인 -->
	<select id="getLastChatNum" parameterType="java.util.Map" resultType="int">
		SELECT chat_no_nu 
		FROM(SELECT chat_no_nu FROM msgr_chat WHERE room_no_nu = #{room_no_nu} ORDER BY chat_no_nu DESC)
		WHERE ROWNUM = 1
	</select>

	<!-- 톡방 참가한 이후의 대화내용 가져오기 쿼리문 --><!-- 확인 -->
	<select id="getChatAfterJoin" parameterType="java.util.Map" resultType="java.util.Map">
	SELECT NVL(mem.mem_nick_vc, 'unknown') as mem_nick_vc, chat.chat_vc
  FROM MSGR_MEMBER mem, MSGR_CHAT chat, MSGR_ROOM_IN_LIST rlist
 WHERE     rlist.room_no_nu = chat.room_no_nu
       AND chat.chat_no_nu >= (SELECT join_chat_no_nu
                                 FROM MSGR_ROOM_IN_LIST
                                WHERE mem_id_vc = #{mem_id_vc} AND room_no_nu = #{room_no_nu})
       AND rlist.mem_id_vc = #{mem_id_vc}
       AND chat.room_no_nu = #{room_no_nu}
       AND chat.mem_id_vc = mem.mem_id_vc(+)
	</select>

	
	<!-- 다중쿼리: 쿼리 한문장 끝날때마다 ;세미콜론 필수 -->
	<!-- 정상 출력 값이 -1 이다.  -->
	<!-- {CALL
			DECLARE
			BEGIN
			 	다중쿼리문 
			END
		 } 
		 									-->	
	<!-- 회원탈퇴 쿼리문 --><!-- 확인  -->
	<delete id="deleteMember" parameterType="java.util.Map">
		{CALL
			DECLARE
			BEGIN
				UPDATE MSGR_CHAT SET mem_id_vc = null WHERE mem_id_vc = #{mem_id_vc};
				DELETE FROM MSGR_ROOM_IN_LIST WHERE mem_id_vc = #{mem_id_vc};
				DELETE FROM MSGR_BUDDY WHERE mem_id_vc = #{mem_id_vc};
				DELETE FROM MSGR_MEMBER WHERE mem_id_vc = #{mem_id_vc};
			END
		}
	</delete>

	<!-- 친구삭제 쿼리문 --><!-- 확인 -->
	<delete id="deleteBuddy" parameterType="java.util.Map">
		{CALL
			DECLARE
			BEGIN
				DELETE FROM MSGR_BUDDY WHERE buddy_id_vc = #{buddy_id_vc} AND mem_id_vc = #{mem_id_vc};
				DELETE FROM MSGR_BUDDY WHERE buddy_id_vc = #{mem_id_vc} AND mem_id_vc = #{buddy_id_vc};
			END
		}
	</delete>

	<!-- 닉네임 변경 쿼리문 --><!-- 확인 -->
	<update id="changeNickname" parameterType="java.util.Map">
		UPDATE MSGR_MEMBER SET mem_nick_vc = #{mem_nick_vc} WHERE mem_id_vc = #{mem_id_vc}
	</update>

	<!-- 친구추가 쿼리문 --><!-- 확인  -->
	<insert id="makeBuddy" parameterType="java.util.Map">
		{CALL
			DECLARE
			BEGIN
				INSERT INTO MSGR_BUDDY(mem_id_vc, buddy_id_vc) VALUES (#{mem_id_vc}, #{buddy_id_vc});
				INSERT INTO MSGR_BUDDY(mem_id_vc, buddy_id_vc) VALUES (#{buddy_id_vc}, #{mem_id_vc});
			END
		}	
	</insert>

	<!-- 전체 오픈 톡방 불러오기 쿼리문 --><!-- 확인 -->
	<select id="getAllOpenTalkList" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT room_no_nu, room_name_vc, is_private_yn FROM MSGR_ROOM WHERE is_private_yn = 0
	</select>
	
	<!-- 참여한 오픈 톡방 불러오기 쿼리문  --><!-- 확인 -->
	<select id="getJoinOpenTalkList" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT r.room_no_nu, r.room_name_vc,r.is_private_yn FROM MSGR_ROOM r, MSGR_ROOM_IN_LIST rlist 
		WHERE mem_id_vc = #{mem_id_vc} AND r.room_no_nu = rlist.room_no_nu AND is_private_yn =0
	</select>	
	
	<!-- 참여한 친구 톡방 불러오기 쿼리문 --><!-- 확인 -->	
	<select id="getJoinBuddyTalkList" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT r.room_no_nu, r.room_name_vc,r.is_private_yn FROM MSGR_ROOM r, MSGR_ROOM_IN_LIST rlist 
		WHERE mem_id_vc = #{mem_id_vc} AND r.room_no_nu = rlist.room_no_nu AND is_private_yn =1	
	</select>
	<select id="getTalkRoomUserList" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT mem_id_vc FROM MSGR_ROOM_IN_LIST WHERE room_no_nu = #{room_no_nu}
	</select>
	
	<select id="getJoinChatNum" parameterType = "java.util.Map" resultType = "int">
		SELECT join_chat_no_nu
		FROM MSGR_ROOM_IN_LIST
		where room_no_nu=#{room_no_nu} and mem_id_vc = #{mem_id_vc}
	</select>
	
	<select id="getAllChatList" parameterType = "java.util.Map" resultType = "java.util.Map">
		SELECT decode(mem.mem_nick_vc,null,'알수없음',mem.mem_nick_vc) mem_nick_vc, chat.chat_vc, chat.room_no_nu
 		FROM (SELECT mem_id_vc, chat_vc, room_no_nu, CHAT_NO_NU
          			FROM MSGR_CHAT
         			WHERE room_no_nu = #{room_no_nu}) chat
       	left JOIN msgr_member mem
 		ON chat.mem_id_vc = mem.mem_id_vc
    		AND CHAT.CHAT_NO_NU >= #{join_chat_no_nu}
   	</select>
	
	
	
	
	
</mapper>
